<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Patient Page</title>
</head>
<body>
    <h1>Patient Details Page</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/patients">All Patients</a>
        <a href="/patients/new">Add Patient</a>
      </nav>
    <div>
        <p><strong>Name:</strong> <%= patient.name %></p>
        <p><strong>Age:</strong> <%= patient.age %></p>
    </div>
    <div>
        <p><strong>Address:</strong> </p>
        <p><%= patient.address.streetNumber %> <span></span> 
            <%= patient.address.streetName %></p>
        <p><%= patient.address.city %></p>
        <p><%= patient.address.state %></p>
    </div>
    <div>
        <p><strong>Primary Doctor:</strong> <%= patient.primarydoc %></p>
    </div>
    <div>
        <p><strong>Insurance:</strong> <%= patient.insurance %></p>
    </div>
    
    <form action="/patients/<%=patient._id%>/edit" method="GET">
        <input type="submit" value="Edit Patient"/>
    </form>
    <p></p>
    <form action="/patients/<%=patient._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Patient"/>
    </form>
    
    
</body>
</html>