<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Patient Page</title>
</head>
<body>
    <div>
        <p><strong>Name:</strong> <%= patient.name %></p>
        <p><strong>Age:</strong> <%= patient.age %></p>
    </div>
    <div>
        <p><strong>Address:</strong> </p>
        <p><%= patient.address[0].streetNumber %> <span></span> 
            <%= patient.address[0].streetName %></p>
        <p><%= patient.address[0].city %></p>
        <p><%= patient.address[0].state %></p>
    </div>
    <div>
        <p><strong>Primary Doctor:</strong> <%= patient.primarydoc %></p>
    </div>
    <div>
        <p><strong>Insurance:</strong> <%= patient.insurance %></p>
    </div>
    
</body>
</html>